{% extends 'base.html.twig' %}

{% block body %}
    <!-- première selection -->
    <div class="container">
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 link-secondary" href="#">Playstation 4</a>
                <a class="p-2 link-secondary" href="#">Playstation 5</a>
                <a class="p-2 link-secondary" href="#">Xbox one</a>
                <a class="p-2 link-secondary" href="#">Xbox Serie X</a>
                <a class="p-2 link-secondary" href="#">Pc</a>
                <a class="p-2 link-secondary" href="#">Nintendo Switch</a>
                <a class="p-2 link-secondary" href="#">ios</a>
                <a class="p-2 link-secondary" href="#">Android</a>
            </nav>
        </div>
    </div>

    <main class="container">
        <div class="p-4 col-5 mb-4 text-white rounded bg-dark">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="Medias/tamara-bitter-JIrjoWIgFAs-unsplash.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="Medias/jeshoots-com-eCktzGjC-iU-unsplash.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="Medias/minh-pham-HI6gy-p-WBI-unsplash(Photo by Minh Pham on Unsplash).jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Actualités</strong>
                        <h3 class="mb-0">Titre</h3>
                        <div class="mb-1 text-muted"></div>
                        <p class="card-text mb-auto">Resumé</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                    
        <!-- deuxième selection -->
        <form>

        </form><br>
        <!-- deuxième selection -->
    </main>
{% endblock %}
