:root{
    --primary: #35416d;
    --secondary: #1e90ff;
    --success: #ee2128;
    --siteText: #eeeeee;
    --background: #232728;
    --background2: #3c3c3c;
    --block:#262f39;
    --block2:#23292f;
    --block-border:#3f4b57;
}

header{
    background: url(../Medias/joshua-coleman-8bjxE-Re1bw-unsplash_original.jpg) center no-repeat;
    background-size: cover;
    height: 30vh;
    margin-bottom: -25px;
}

body{
    overflow-x: hidden;
    color: var(--siteText);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(31, 34, 35);
    margin-left: 1rem;
    margin-right: 1rem;
}
html, body, input, textarea, select, button {
    border-color: #968b7a;
    color: #ffffff;
}
html, body, input, textarea, select, button {
    background-color: #1f2223;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.hrAdjust{
    margin-left: 6rem;
    margin-right: 6rem;   
}

#imgTop {
    width: 200px;
    height: 200px;
    border: 1px #23282d solid;
    text-align: center; 
    justify-content: center;
}

h2{
    font-size: 20px;
    color: var(--siteText);
}

h3{
    font-size: 20px;
    color: var(--siteText);
}
p{
    color: var(--siteText);
}
/* Nav avec les plateformes de jeux */
#bannerGame{
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: var(--block2) !important;
    border-right-width: 2.1px;
    border-right-style: solid;
    border-radius: 2rem !important;
    border-color: var(--block-border);
    border-bottom-width: 2.1px;
    border-bottom-style: solid;
    border-top-width: 2.1px;
    border-top-style: solid;
    border-left-width: 2.1px;
    border-left-style: solid;  
    margin-bottom: 3px;
}
@media only screen and (max-width: 560px){
    #bannerGame {
        margin-left: 0rem;
        margin-right: 0rem;
    }  
}
.link-secondary{
    color: var(--siteText);
}

/* Bannière Actualité en haut de page */
.txtMyactu{
    color: var(--siteText);
    font-size: 12px;
    margin-left: 1px;
    margin-top: 12px;
}
#myActu{
    margin-left: 5rem;
    margin-right: 5rem;

}
@media only screen and (max-width: 560px){
    #myActu {
        margin-left: 0rem;
        margin-right: 0rem;
    }  
}
#myActu4{
    margin-left: 0;
    margin-right: 0;
}

#myActu5{
    margin-left: 5rem;
    margin-right: 5rem;
}
@media only screen and (max-width: 560px){
    #myActu5 {
        margin-left: 1rem;
        margin-right: 1rem;
    }  
}

.bg-light{
    background-color: transparent !important;
}

#myActuBlock{
    background-color: var(--block2) !important;
    border-right-width: 2.1px;
    border-right-style: solid;
    border-radius: 2rem !important;
    border-color: var(--block-border);
    border-bottom-width: 2.1px;
    border-bottom-style: solid;
    border-top-width: 2.1px;
    border-top-style: solid;
    border-left-width: 2.1px;
    border-left-style: solid;  
    margin-bottom: 33px;
}

#blockActu{
    background-color: var(--block2);
    border-right-width: 2.1px;
    border-right-style: solid;
    border-radius: 2rem;
    border-color: var(--block-border);
    border-bottom-width: 2.1px;
    border-bottom-style: solid;
    border-top-width: 2.1px;
    border-top-style: solid;
    border-left-width: 2.1px;
    border-left-style: solid;  
    margin-bottom: 33px; 
}

/* card */

.card-body{
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    margin-bottom: 20px;
}
#cardBlock{
    background-color: transparent !important;
    box-shadow: 0 0 5px 0 transparent !important;
    border: 1px solid transparent !important;
}
.card {
    background-color: var(--background);
    margin: 5px;
    border-radius: 15px;
    padding: 8px 2px 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
#cardShow{
    width:44rem;
    max-height: 390px !important;
}
.card img{
    margin-left: 6px;
    max-height: 350px;
    max-width: 95%;
    vertical-align: middle;
    display: inline-block;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    transition: border-radius .3s,-webkit-transform .2s;
    transition: transform .2s,border-radius .3s;
    transition: transform .2s,border-radius .3s,-webkit-transform .2s;    
}
#cardActualityHeader:hover{
    max-width: 96%;
    -webkit-transform: scale(1.05) translateY(-2px);
    transform: scale(1.05) translateY(-2px);
    
}
.text-wrap {
    white-space: normal !important;
}
.mb-auto, .my-auto {
    margin-bottom: auto !important;
}
.pt-2, .py-2 {
    padding-top: .5rem !important;
}
.pl-1, .px-1 {
    padding-left: .25rem !important;
}
.pr-1, .px-1 {
    padding-right: .25rem !important;
}
.imgCard{
    max-width: 96%;
    -webkit-transform: scale(1.05) translateY(-2px);
    transform: scale(1.05) translateY(-2px);
    border-radius: 15px 15px 0 0;
}
.mt-auto, .my-auto {
    margin-top: auto !important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}
.publish{
    margin: auto;
}


#à-ProposBlock{
    background-color: var(--block2) !important;
    border-right-width: 2.1px;
    border-right-style: solid;
    border-radius: 2rem !important;
    border-color: var(--block-border);
    border-bottom-width: 2.1px;
    border-bottom-style: solid;
    border-top-width: 2.1px;
    border-top-style: solid;
    border-left-width: 2.1px;
    border-left-style: solid;  
    margin-bottom: 33px;
}

#mondeBlock{
    background-color: var(--block2) !important;
    border-right-width: 2.1px;
    border-right-style: solid;
    border-radius: 2rem !important;
    border-color: var(--block-border);
    border-bottom-width: 2.1px;
    border-bottom-style: solid;
    border-top-width: 2.1px;
    border-top-style: solid;
    border-left-width: 2.1px;
    border-left-style: solid;  
    margin-bottom: 33px;
    margin-left: 5rem;
    margin-right: 5rem;
}
@media only screen and (max-width: 560px){
    #mondeBlock {
        margin-left: 1rem;
        margin-right: 1rem;
    }  
}

.btn-primary{
    font-family: "Staatliches-Regular";
    
}
