:root{
    --primary: #35416d;
    --secondary: #1e90ff;
    --success: #ee2128;
    --siteText: #eeeeee;
    --background: #232728;
    --background2: #3c3c3c;
    --nav-block:#262f39;
    --nav-block2:#23292f;
    --nav-block-border:#3f4b57;
}

#navStyle{
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    padding: 0;
    min-width: 20rem;
    max-width: 76.5rem;
    background-color: transparent!important;
    border-right-width: 2.1px;
    border-right-style: solid;
    border-radius: 2rem;
    border-color: transparent;
    border-bottom-width: 2.1px;
    border-bottom-style: solid;
    border-top-width: 2.1px;
    border-top-style: solid;
    border-left-width: 2.1px;
    border-left-style: solid;
    font-family: "Staatliches-Regular";
    z-index: 1;
}
@media only screen and (max-width: 1440px) and (min-width : 1400px) {
    #navStyle {     
        max-width: 82.5rem;
    }
}
@media only screen and (max-width: 1399px) and (min-width : 1200px) {
    #navStyle {       
        max-width: 71.5rem;
    }
}
@media only screen and (max-width: 1199px) and (min-width : 992px) {
    #navStyle{      
        max-width: 60.5rem;
    }
}
@media only screen and (max-width: 991px) and (min-width : 768px) {
    #navStyle {
        max-width: 44.5rem;
    }
}
@media only screen and (max-width: 767px) and (min-width : 510px) {
    #navStyle {
        max-width: 33.5rem;
    }
}
@media only screen and (max-width: 509px){
    #navStyle {
        max-width: 33.5rem;
    }
}
.form-control::placeholder{
    opacity: 0.4;
}
.logo-menu{
    display: flex;
    margin: 0 0px;
    width: 65px;
    height: 50px;
    border-right-width: 1.1px;
    border-right-style: solid;
    border-radius: 2rem;
    border-bottom-width: 1.1px;
    border-bottom-style: solid;
    border-top-width: 1.1px;
    border-top-style: solid;
    border-left-width: 1.1px;
    border-left-style: solid;
    border-color: #3f4b57;    
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 0rem;
	padding-bottom: 0rem;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin-left: 50px;
}
@media only screen and (max-width: 560px){
    .navbar-expand-lg .navbar-nav {
        margin-left: 82px;
    }  
}
#navBlock{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;    
}

@media only screen and (max-width: 991px) {
    #navBlock {
        margin-bottom: 10px;
    }
}



/*********Onglet navigation*********/

/*********Jeux*********/
#nav-jeux{
    color: var(--siteText);
    line-height: 50px;
}
#nav-jeux:hover{
    color: var(--secondary);
    background-color: var(--background);
    transition: 0.5s all;
}

#nav-JeuxDropdown{
    border-right-width: 0.1px;
    border-right-style: solid;
    border-radius: 2rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-color: #3f4b57;
    border-bottom-width: 2.1px;
    border-bottom-style: solid;
    border-left-width: 1.1px;
    border-left-style: solid;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    /* left: 14px; */
    /* bottom: -176px; */
    background-color: var(--nav-block);
}

/* Onglet Jeux navJ1Ps4 navJ2Ps5 navJ3Xo navJ4Xsx navJ5Pc navJ6Ns navJ7Ios navJ8ïod */
#navJ1Ps4{  
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 1.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.433px !important;
    border-bottom-width: 0.533px !important;
    margin-top: -10px;
    margin-bottom: 0px !important;
    border: var(--nav-block-border);
    border-style: solid;
}

#navJ1Ps4:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
#navJ2Ps5{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 2.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.433px !important;
    border-bottom-width: 0.533px !important;
    margin-bottom: 0px !important;
    border: var(--nav-block-border);
    border-style: solid;
}
#navJ2Ps5:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
#navJ3Xo{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 2.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.433px !important;
    border-bottom-width: 0.533px !important;
    margin-bottom: 0px !important;
    border: var(--nav-block-border);
    border-style: solid;
}
#navJ3Xo:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
#navJ4Xsx{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 2.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.433px !important;
    border-bottom-width: 0.533px !important;
    margin-bottom: 0px !important;
    border: var(--nav-block-border);
    border-style: solid;
}
#navJ4Xsx:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
#navJ5Pc{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 2.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.433px !important;
    border-bottom-width: 0.533px !important;
    margin-bottom: 0px !important;
    border: var(--nav-block-border);
    border-style: solid;
}
#navJ5Pc:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
#navJ6Ns{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 2.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.433px !important;
    border-bottom-width: 0.533px !important;
    margin-bottom: 0px !important;
    border: var(--nav-block-border);
    border-style: solid;
}
#navJ6Ns:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
#navJ7Ios{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 2.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.433px !important;
    border-bottom-width: 0.533px !important;
    margin-bottom: 0px !important;
    border: var(--nav-block-border);
    border-style: solid;
}
#navJ7Ios:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
#navJ8ïod{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 2.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 2.433px !important;
    border-bottom-width: -0.467px !important;
    margin-bottom: 0px !important;
    border: var(--siteText2);
    border-style: solid;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
#navJ8ïod:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: var(--background);
}

/*********Vidéo*********/
#nav-vidéos{
    color: var(--siteText);
    padding-left: 10px;
    line-height: 50px;
    left: 2rem;
    position: relative;
}
@media only screen and (max-width: 1199px){
    #nav-vidéos{
        left: 0rem;
        position: relative;
    }
}
#nav-vidéos:hover{
    color: var(--secondary);
    background-color: var(--background);
    transition: 0.5s all;
}

/*********Actualité*********/
#nav-actualités{
    color: var(--siteText);
    padding-left: 10px;
    line-height: 50px;
    left: 4rem;
    position: relative;
}
@media only screen and (max-width: 1199px) {
    #nav-actualités{
        left: 0rem;
        position: relative;
    }
}
#nav-actualités:hover{
    color: var(--secondary);
    background-color: var(--background);
    transition: 0.5s all;
}
#nav-ActuDropdown{
    border-right-width: 0.1px;
    border-right-style: solid;
    border-radius: 2rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-color: #3f4b57;
    border-bottom-width: 2.1px;
    border-bottom-style: solid;
    border-left-width: 1.1px;
    border-left-style: solid;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    left: 14px;
    bottom: -173px;
    background-color: var(--nav-block);
}
/*********Forums*********/
#nav-forums{
    color: var(--siteText);
    padding-left: 10px;
    line-height: 50px;
    position: relative;
    left: 6rem;
}
@media only screen and (max-width: 1199px) {
    #nav-forums{
        left: 0rem;
        position: relative;
    }
}
#nav-forums:hover{
    color: var(--secondary);
    background-color: var(--background);
    transition: 0.5s all;
}

/*********Se connecter*********/
#identifMyAccount a{
    text-decoration:none;
    font-size: 9px;
}
#identifMyAccountButton{
    background-color: var(--secondary);
    color: var(--siteText) !important;
}
#identifMyAccountButton:hover{
    background-color:#1b82e9;
    color: var(--siteText) !important;
}

@media only screen and (max-width: 560px){
    #navLiConnect
    {
        position: relative;
        left: -3rem;
        width: 0rem; 
    }
}

#nav-connect{
    color: var(--siteText);
    font-size: 12px;
    margin-top: 13px;
    left: 8rem;
    position: relative;
}
@media only screen and (max-width: 1440px) and (min-width : 1200px) {
    #nav-connect{
        left: 8rem;
        position: relative;
    }
}
@media only screen and (max-width: 1199px) and (min-width : 992px) {
    #nav-connect{
        left: 1rem;
        position: relative;
    }
}
@media only screen and (max-width: 991px) and (min-width : 768px) {
    #nav-connect {
        left: 1rem;
        position: relative;
    }
}
@media only screen and (max-width: 767px) and (min-width : 510px) {
    #nav-connect {
        left: 1rem;
        position: relative;
    }
}
@media only screen and (max-width: 509px) and (min-width : 359px){
    #nav-connect {
        left: -7rem;
        position: relative;
    }
}
@media only screen and (max-width: 560px){
    #nav-connect {
        margin-bottom: 5px;
        margin-right: 0px;
        margin-top: 50px;
        width: 8rem;
        position: relative;
        left: -12.5rem;
    }
}
#nav-connect:hover{
    background-color: var(--secondary);
    transition: 0.5s all;
}
#identifMyAccount{
    padding: 0.5rem 22px;
    top: 66px;
    left: 128px;
    position: absolute;
}
@media only screen and (max-width: 1199px) and (min-width : 992px) {
    #identifMyAccount {
        top: 65px;
        left: 16px;
        width: 0rem;
    }
}
@media only screen and (max-width: 991px) and (min-width : 768px) {
    #identifMyAccount {
        top: 65px;
        left: 16px;
        width: 0rem;
    }
}
@media only screen and (max-width: 767px) and (min-width : 510px) {
    #identifMyAccount {
        top: 65px;
        left: 14px;
        width: 0rem;
    }
}
@media only screen and (max-width: 509px) and (min-width : 459px){
    #identifMyAccount {
        top: 104px;
        left: -114px;
    }
}
@media only screen and (max-width: 560px){
    #identifMyAccount {
        top: 104px;
        left: -202px;
        width: 1rem;
    }
}
#identifMyAccount div{
    text-decoration:none;
    font-size: 12px;
    color: var(--siteText);
}

#identifMyAccount button{
    bottom: 8px;
    right: 31px;
    height: 40px;
    width: 114px;   
    text-decoration:none;
    border-radius: 7px 7px;
    text-align: center;
    font-size: 15px;
    background-color: var(--secondary);
    color: var(--siteText);
    border-color: #9fdbffba;
}

#identifMyAccount a{
    color: var(--secondary);
    text-decoration-color: currentcolor;
    font-family: "Staatliches-Regular";
    border-radius: 2rem;
    border-color: var(--secondary);
}
#identifMyAccount a:hover{
    color: var(--success);
}
/*********home/logout*********/
#nav-adminhome{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 1.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.433px !important;
    border-bottom-width: 0.533px !important;
    margin-top: -10px;
    margin-bottom: 0px !important;
    border: var(--nav-block-border);
    border-style: solid;
}
#nav-adminhome:hover{
    color: var(--secondary);
    background-color: var(--background);
    transition: 0.5s all;
}
#backHome{
    color: var(--siteText);
    padding-left: 10px
}
#backHome:hover{
    color: var(--secondary);
    background-color: var(--background);
    transition: 0.5s all;
}
/* Boutton recherche */
#SearchForm {
    margin-bottom: 17px;
    bottom: -7px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 13px;
    color: #fff;
    background-color: #fff0;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media only screen and (max-width: 560px){
    #buttonSearch {
        margin-left: 0px;
        padding-right: 0.75rem;
        margin-right: 27px; 
    }  
}
#buttonSearch{
    background-color: var(--secondary);
    color: var(--siteText);
    border-color: var(--secondary);
    border-top-width: -4px;
    margin-top: 6px;
    padding-top: -0.625rem;
    margin-bottom: 10px;
    padding-bottom: 0.375rem;
}
#buttonSearch:hover{
    color: var(--secondary);
    background-color: var(--background);
    transition: 0.5s all;
}
.form-control::placeholder{
    color: var(--background);
}

.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
}

#navBlock{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;    
}

@media only screen and (max-width: 991px) {
    #navBlock {
        margin-bottom: 10px;
    }
}


/* ********Mon compte************ */
#navMonCompte i{
    color: #45e5ff;
    font-size: 41px;
    margin: auto;
    margin-top: auto;
    margin-left: auto;
    margin-left: auto;
    margin-left: 4px;
    margin-top: -6px;
    background: transparent;
    border: var(--siteText);
    border-radius: 24%;
    border-top-width: 1px;
    border-top-style: solid;
    padding-left: 7px;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    padding-top: 0px;
    padding-bottom: -8px;
    padding-right: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
/* #navMonCompte i:hover{
    font-size: 35px;
    transform:rotate(360deg);
    transition: transform 500ms ease-in-out;
} */

/******dashBoard****/
#dashBoard{
    color:var(--siteText);
    font-size: 41px;
    margin: auto;
    margin-top: auto;
    margin-left: auto;
    margin-left: auto;
    margin-left: 4px;
    margin-top: -6px;
    background: transparent;
    padding-left: 7px;
    padding-top: 0px;
    padding-bottom: -8px;
    padding-right: 8px;
}
#dashBoard:hover{
    color:var(--secondary);
}    

/* Luminosité */

#getBrightness{
    color: rgb(226, 226, 226);
    font-size: 25px;
    margin: auto;
    margin-top: auto;
    margin-left: auto;
    margin-top: auto;
    margin-left: auto;
    margin-left: auto;
    margin-left: 37px;
    margin-top: -5px;   
}

#getBrightness:hover{
    color: #ffffff;
 
    transform:rotate(220deg);
    transition: transform 500ms ease-in-out;
    
}
@media only screen and (max-width: 991px) {
    #getBrightness:hover {
        transform:rotate(0deg);
        transition: transform 0ms ease-in-out;
    }
}

#navPofilDropdown{
    border-right-width: 0.1px;
    border-right-style: solid;
    border-radius: 2rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-color: #3f4b57;
    border-bottom-width: 2.1px;
    border-bottom-style: solid;
    border-left-width: 1.1px;
    border-left-style: solid;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    left: -44px;
    bottom: -237px;
    background-color: var(--nav-block);
}
@media only screen and (max-width: 1399px) and (min-width : 1200px) {
    #navPofilDropdown {       
        left: -44px;
    }
}
@media only screen and (max-width: 1199px) and (min-width : 992px) {
    #navPofilDropdown {      
        left: -44px;
    }
}
@media only screen and (max-width: 991px) and (min-width : 768px) {
    #navPofilDropdown {
        left: -54px;
    }
}
@media only screen and (max-width: 767px) and (min-width : 510px) {
    #navPofilDropdown {
        left: -61px;
    }
}
@media only screen and (max-width: 509px){
    #navPofilDropdown {
        left: -87px;
    }
}

#avatarUserNav{
    margin-top: 14px;
}
@media only screen and (max-width: 509px){
    #avatarUserNav{
        margin-top: 35px;
    }
}
#avatarUserNav i{
    font-size: 23px;
    background: transparent;
    border: var(--siteText);
    border-radius: 24%;
    border-top-width: 1px;
    border-top-style: solid;
    padding-left: 7px;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    padding-top: 18px;
    padding-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
#avatarUserNav img{
    height: 46px;
    object-fit: contain;
    margin-top: -21px;
    margin-right: -50px;
    border-radius: 10px;
    margin-left: -6px;
}
#avatarUserNav i:hover{
    
    transform:rotate(360deg);
    transition: transform 500ms ease-in-out;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--siteText);
}
#navProfil{  
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 1.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.433px !important;
    border-bottom-width: 0.533px !important;
    margin-top: -10px;
    margin-bottom: 0px !important;
    border: var(--nav-block-border);
    border-style: solid;
}

#navProfil:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
#navPréférence{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 1.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.433px !important;
    border-bottom-width: 0.533px !important;
    margin-top: -10px;
    margin-bottom: 0px !important;
    border: var(--nav-block-border);
    border-style: solid;
}
#navPréférence:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
#navLogout{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 1.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.433px !important;
    border-bottom-width: 0.533px !important;
    margin-top: -18px;
    margin-bottom: 0px !important;
    border: var(--nav-block-border);
    border-style: solid;
    margin-left: -8px;
    margin-right: -8px;
}
@media only screen and (max-width: 991px) and (min-width : 768px) {
    #navLogout {
        margin-left: -0px;
        margin-right: -0px;
    }
}
@media only screen and (max-width: 767px) and (min-width : 510px) {
    #navLogout {
        margin-left: -0px;
        margin-right: -0px;
    }
}
@media only screen and (max-width: 509px){
    #navLogout {
        margin-left: -0px;
        margin-right: -0px; 
    }
}
#navLogout:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
.navOngletEmpty{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 2.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 2.433px !important;
    border-bottom-width: -0.467px !important;
    margin-bottom: 0px !important;
    border: var(--siteText2);
    border-style: solid;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.navOngletEmpty:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}
.navOngletEmptyLast{
    text-align: center;
    color: var(--siteText);
    background-color: var(--nav-block);
    border-top-width: 2.433px !important;
    padding-top: 0.5rem !important;
    border-right-width: 2.433px !important;
    border-left-width: 1.485px !important;
    border-bottom-width: -0.467px !important;
    margin-bottom: 0px !important;
    border: var(--siteText2);
    border-style: solid;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin-top: -16px;
    margin-left: -7px;
    margin-right: -8px;
}
@media only screen and (max-width: 991px) and (min-width : 768px) {
    .navOngletEmptyLast {
        margin-left: -0px;
        margin-right: -0px;
    }
}
@media only screen and (max-width: 767px) and (min-width : 510px) {
    .navOngletEmptyLast {
        margin-left: -0px;
        margin-right: -0px;
    }
}
@media only screen and (max-width: 509px){
    .navOngletEmptyLast {
        margin-left: -0px;
        margin-right: -0px; 
    }
}
.navOngletEmptyLast:hover{
    color: var(--siteText) !important;
    background-color: var(--secondary);
    transition: 0.5s all;
}

#userOnglet{
    left: 420px;
}
@media only screen and (max-width: 1440px) and (min-width : 1400px) {
    #userOnglet {     
        left: 515px;   
    }
}
@media only screen and (max-width: 1399px) and (min-width : 1200px) {
    #userOnglet {       
        left: 341px; 
    }
}
@media only screen and (max-width: 1199px) and (min-width : 992px) {
    #userOnglet {      
        left: 130px;
    }
}
@media only screen and (max-width: 991px) and (min-width : 768px) {
    #userOnglet {
        left: 10rem;
        top: 1rem;
    }
}
@media only screen and (max-width: 767px) and (min-width : 510px) {
    #userOnglet {
        left: 56px;
        margin-top: 4rem;
    }
}
@media only screen and (max-width: 509px) and (min-width : 359px){
    #userOnglet {
        left: 22px;
        margin-top: 3rem;
    }  
}
@media only screen and (max-width: 560px){
    #userOnglet {
        left: -3rem;
        margin-top: 3rem;
    }  
}

#navbarSupportedContent{
    flex-grow: 1;
    align-items: center;
}

@media only screen and (max-width: 991px) and (min-width : 768px) {
    #navbarSupportedContent {
        margin-left: 7rem;
        border-radius: 2rem;
        position: relative;
        left: -3rem;
        top: 1rem;
        border: solid var(--darkreader-border--block-border) !important;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        border-left-width: 1px !important;
        border-left-style: solid;
        border-bottom-width: 1px !important;
        border-bottom-style: solid;
        border-right-width: 1px !important;
        border-right-style: solid;
        border-top-width: 1px !important;
        border-top-style: solid;
        background: var(--darkreader-bg--block2) !important;  
    }  
}
@media only screen and (max-width: 767px){
    #navbarSupportedContent {
        position: relative;
        top: 1rem;
        border-radius: 2rem;
        border-right-width: 1.1px;
        border-right-style: solid;
        border-radius: 2rem;
        border-bottom-width: 1.1px;
        border-bottom-style: solid;
        border-top-width: 1.1px;
        border-top-style: solid;
        border-left-width: 1.1px;
        border-left-style: solid;
        border-color: #3f4b57;
        background-color: var(--background);
        border-color: var(--nav-block-border);   
    }  
}
#searchBtn{
    display: flex !important;
}
@media only screen and (max-width: 991px){
    #searchBtn {
        padding-top: 26px;
        width: 24rem;
    }  
}
