:root{
  --primary: #35416d;
  --secondary: #1e90ff;
  --secondary2:#0073b7;
  --success: #d1383d;
  --success2: #fa9c66;
  --success3: #517379;
  --sucesss4: #7c34b8;
  --success5: #93d34a;
  --success6: #517ad3;
  --siteText1: #eeeeee;
  --siteText2: #d1d1d1;
  --background: #232728;
  --background2: #3c3c3c;
  --nav-block:#262f39;
  --nav-block2:#23292f;
  --nav-block-border:#3f4b57;
}
#carouselBlock{
  padding-left: 10rem;
  padding-right: 10rem;
}
@media only screen and (max-width: 1440px) and (min-width : 1401px) {
  #carouselBlock  {
    padding-left: 10rem;
    padding-right: 10rem;
  }  
}
@media only screen and (max-width: 1400px) and (min-width : 993px) {
  #carouselBlock  {
    padding-left: 10rem;
    padding-right: 10rem;
  }  
}
@media only screen and (max-width: 992px) and (min-width : 769px) {
  #carouselBlock  {
    padding-left: 0rem;
    padding-right: 0rem;
  }  
}
@media only screen and (max-width: 768px) and (min-width : 559px) {
  #carouselBlock  {
    padding-left: 0rem;
    padding-right: 0rem;
  }  
}
@media only screen and (max-width: 560px){
  #carouselBlock  {
    padding-left: 0rem;
    padding-right: 0rem;
  }  
}
body{
  background: url(../Medias/wes-hicks-QTVrSOYXazc-unsplash.jpg) center no-repeat;
  background-size: cover;
  background-position-y: -11rem;
  background-size: 90rem 104rem;
}
@media only screen and (max-width: 1440px) and (min-width : 1168px) {
  body {     
    background-position-y: -11rem;
    background-size: 90rem 104rem;       
  }
}
@media only screen and (max-width: 1167px) and (min-width : 737px) {
  body {     
    background-position-y: -11rem;
    background-size: 70rem 104rem;       
  }
}
@media only screen and (max-width: 736px) and (min-width : 468px)  {
  body {     
    background: url(../Medias/wes-hicks-QTVrSOYXazc-unsplash.jpg) center no-repeat;
    background-position-y: -14rem;
    background-size: 46rem 128rem;     
  }
}
@media only screen and (max-width: 467px)  {
  body {     
    background: url(../Medias/wes-hicks-QTVrSOYXazc-unsplash.jpg) center no-repeat;
    background-position-y: -2rem;
    background-size: 46rem 127rem;  
  }
}
.row > * {

  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);

}

@media only screen and (max-width: 767px){
  .row > *  {
    padding-right: calc(var(--bs-gutter-x) * .0);
    padding-left: calc(var(--bs-gutter-x) * .0);
    margin-bottom: 0px;
    margin-top: 7%;
  }  
}

.cardShowHome
{
  width: 15rem;
  max-height: 390px !important;
}
@media only screen and (max-width: 767px) and (min-width : 510px) {
  .cardShowHome
  {
    width: 12rem;
    max-height: 390px !important;
  }
}
@media only screen and (max-width: 509px) and (min-width : 460px){
  .cardShowHome
  {
    width: 10rem;
    max-height: 390px !important;
  }
}
@media only screen and (max-width: 459px){
  .cardShowHome
  {
    width: 13rem;
    max-height: 390px !important;
    position: relative;
    left: -15rem;
    top: 4rem;
  }
}


.homeCardActu
{
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}
@media only screen and (max-width: 459px){
  .homeCardActu h4
  {
    font-size: 13pt;
  }
}
@media only screen and (max-width: 459px){
  .homeCardActu p
  {
    font-size: 9pt;
    width: 11rem;
    margin-top: 15rem;
    position: relative;
    left: -6px;
  }
}
#homeCardActuDiv1
{

}
@media only screen and (max-width: 459px){
  #homeCardActuDiv1
  {
    position: relative;
    left: 3rem;
  }
}
#homeCardActuDiv2
{

}
@media only screen and (max-width: 459px){
  #homeCardActuDiv2
  {
    position: relative;
    left: 8rem;
  }
}