:root{
    --primary: #35416d;
    --secondary: #1e90ff;
    --secondary2:#0073b7;
    --success: #d1383d;
    --success2: #fa9c66;
    --success3: #517379;
    --sucesss4: #7c34b8;
    --success5: #93d34a;
    --siteText1: #eeeeee;
    --siteText2: #d1d1d1;
    --background: #232728;
    --background2: #3c3c3c;
}