#player-app
{
    height: 641px !important;
    object-fit: contain !important;
    height: 6% !important;
    object-fit: contain !important;
    width: 100%;
    position: relative;
}
@media only screen and (max-width: 560px){
    #player-app {
        width: 100%;
        position: relative;
    }  
}
#blockVideo
{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 95%;
}
@media only screen and (max-width: 560px){
    #blockVideo {
        display: flex;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        max-width: 85%;
    }  
}
