{% extends 'base_admin.html.twig' %}

{% block title %}New ActualityNews{% endblock %}

{% block body %}
    <div class="container my-4">
        <div id="blockLeftAndRight" class="row">
            <div id="signUp" class="col-md-6 mt-4">
                <h1>Créer une actualité</h1>
                {{ include('actuality_news/_form.html.twig') }}
                <br>
                <div>
                    <a href="{{ path('actuality_news_index') }}">Retour à la liste</a>
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <footer class="text-center bg-light py-6 mt-4">
        <div>
            <img src="{{ asset('logoMugamax/logo_small_icon_only_inverted.png') }}" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="d-block mb-2">
            </img>&copy; Mugamax - 2021 - All Right Reserved
        </div>
    </footer>
{% endblock %}