<div class="row">
    <div class="col-12 col-md">
        <img src="{{ asset('logoMugamax/logo_small_2.png') }}" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
        <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
        <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
        <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
        <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
        <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
        </img>
        <small class="d-block mb-3 text-muted">&copy; Mugamax - 2021 - All Right Reserved</small>
    </div>
    <div id="À-Venir" class="col-6 col-md">
        <h5>À-Venir</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="actualité.html"><i class="far fa-newspaper"></i> Dernier Actualité</a></li>
            <li><a class="text-muted" href="page-forum.html"><i class="fas fa-rss"></i> Dernier Topic</a></li>
            <li><a class="text-muted" href="vidéos.html"><i class="fas fa-video"></i> Dernier Trailer</a></li>
            <li><a class="text-muted" href="jeux.html"><i class="bi bi-controller"></i> Prochain Sortie Jeux</a></li>
        </ul>
    </div>
    <div id="À-Propos" class="col-6 col-md">
        <h5>À-Propos</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="page-qui-somme-nous.html"><i class="fas fa-user-friends"></i> Qui sommes-nous
                ?</a></li>
            <li><a class="text-muted" href="#"><i class="fas fa-map-marker-alt"></i> Emplacements</a></li>
            <li><a class="text-muted" href="#"><i class="far fa-handshake"></i> Règles de confidentialité</a></li>
            <li><a class="text-muted" href="page-faq.html"><i class="fas fa-shield-alt"></i> Conditions d'utilisation</a>
            </li>
        </ul>
    </div>
</div>