<form method="post" action="{{ path('topic_comment_delete', {'id': topicComment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ topicComment.id) }}">
    <button id="signUpButton" class="btn btn-lg btn-primary btn-block signup-btn">Supprimer</button>
</form>

